
    <section class="hero py-14">
       
        <div class="container mx-auto flex items-center justify-between">
            <div class="w-1/2">
                <h6 class="text-lg"><em>Are you hungary?</em></h6>
                <h1 class="text-6xl font-bold mb-4">Don't wait!!</h1>
                <button class="px-4 py-2 btn-primary rounded-full">Order now</button>
            </div>
            
            <div class="w-1/2">
                <img src="img/img/hero-pizza.png" alt="pizza image"/>
            </div>
        </div>
        
    </section>

    <section class="menu container py-8 mx-auto">
        <h1 class="text-xl mb-8 font-bold"> All Pizzas </h1>

        <div class=" grid grid-cols-4 gap-x-14 gap-y-10">
        <% pizzas.forEach((item)=>{ %>
            <div class="card ">
                <div>
                    <img class="h-40 mx-auto mb-4" src="img/img/<%= item.image%>" alt="pizza"/>
                </div>
    
                <div class="text-center">
                    <h2 class="mb-4 text-lg font-bold"> <%= item.name%> </h2>
                    <span class="size py-1 px-4 text-xs uppercase rounded-full"> <%= item.size%></span>
    
                    <div class="flex items-center justify-between mt-6">
                        <span class="font-bold text-lg"> $ <%= item.price%> </span>
                        <button data-pizza="<%= JSON.stringify(item)%>" class="add-to-cart py-1 px-6 rounded-full">
                            <span> + Add </span>
                        </button>
                    </div>
                </div>
            </div>
        <% }) %>
     

    </div>
    </section>
